@import './utils/_variables';
@import './utils/_mixins';
@import './utils/_fonts';
@import './utils/_texts';
@import './utils/_utils';

@import './_base';

@import './components/_buttons';
@import './components/_carousel-button';
@import './components/chef-card';
@import './components/_form-terms';
@import './components/_format-card';
@import './components/_links';
@import './components/_pagination';

@import './layouts/_advantages-section';
@import './layouts/_chefs-section';
@import './layouts/_contact-section';
@import './layouts/_container';
@import './layouts/_footer';
@import './layouts/_formats-section';
@import './layouts/_header';
@import './layouts/_hero-section';
@import './layouts/_input';
@import './layouts/mobile-menu';
@import './layouts/_modal';
@import './layouts/_section';
@import './layouts/_traditions-section';
