@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins-Light.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/Poppins-Black.woff2') format('woff2'),
        url('../fonts/Poppins-Black.woff') format('woff');
}