.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-light);
  transform: translateX(100%);
  transition: transform 0.3s;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  &.is-open {
    transform: translateX(0);
  }

  &__btn-close {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &__logo {
    margin-bottom: 32px;
    margin-top: 20px;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    color: var(--color-brand-dark);
    font-size: 18px;
    font-weight: 600;

    &:hover {
      color: var(--color-brand);
    }
  }
}
